.basket {
  width: 250px;
  margin: 8px;
  padding: 16px;
  position: sticky;
  top: 24px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 7px -2px #8e8e8e;
}

.basket_header {
  display: flex;
  padding: 8px 0;
  margin-bottom: 16px;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.basket_header h1 {
  font-size: 1.5em;
  color: #333;
}

.basket_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
}

.basket_item {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.basket_item:last-child {
  border-bottom: none;
}

.basket_price {
  color: #118eed;
  font-weight: bold;
}

.basket_total {
  margin-top: auto;
  font-size: 1.1em;
  font-weight: bold;
}
