dialog {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

dialog h2 {
  font-size: 1.5em;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
}

dialog p {
  margin-bottom: 24px;
  color: #666;
  text-align: center;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}
.confirm_button,
.cancel_button {
  flex: 1;
}
.confirm_button:hover {
  background-color: #118eed;
  color: #fff;
  border-color: #118eed;
}
.cancel_button:hover {
  background-color: #ddd;
}
