dialog {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px -2px #8e8e8e;
  border: none;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

dialog h2 {
  font-size: 1.5em;
  margin-bottom: 16px;
  color: #333;
  text-align: center;
}

dialog p {
  margin-bottom: 24px;
  color: #666;
  text-align: center;
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
}

.confirm_button,
.cancel_button {
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s ease;
}

.confirm_button:hover {
  background-color: #118eed;
  color: #fff;
  border-color: #118eed;
}

.cancel_button:hover {
  background-color: #ddd;
}
