* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ddd;
  padding: 8px 12px;
  font-size: 1rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.add-button {
  color: #118eed;
  font-size: 1.5rem;
  padding: 0 12px;
}

.order-button {
  color: #fff;
  background-color: #118eed;
  width: 100%;
  margin-top: 16px;
  padding: 12px;
}

.basket-button {
  width: 32px;
  color: #118eed;
  font-size: 1rem;
  padding: 0 8px;
  margin: 0 3px 3px 0;
}

.close_basket_dialog_button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  color: #118eed;
  font-size: 1rem;
  padding: 0 8px;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #898989;
  border-radius: 4px;
}
